body {
    background-repeat: no-repeat;
    background-image: url(./salad-gc38c78ac4_1920.gif)
    
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
}